html.game-1 {
  background-color: #FF7000;
}

html.game-2 {
  background-color: #8E75F8; 
}

html.game-3 {
  background-color: #FF5BAF;
}

html.game-4 {
  background-color: #FFC400;
}

html.game-5 {
  background-color: #00B2E7;
}

html.game-6 {
  background-color: #00A865;
}

html, body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

html {
  	font-size: 1rem;
}

:root {
  --scale-factor: 1;
  --min-size-rem: 1.125;
}

.btn {
  align-items: center;
  block-size: 3.5rem;
  border: none;
  border-radius: 0rem 1.5rem;
  cursor: pointer;
  display: flex;
  font-size: 1.6rem;
  inline-size: 10rem;
  justify-content: center;
  transition: all 0.3s ease;
}

.btn-cta1 {
  background-color: #FF7000;
  color: #fff;
}

.btn-cta1:hover {
  background-color: #fff;
  color: #2E2D2C;
}

.btn-cta2 {
  background-color: #fff;
  color: #FF7000;
}

.btn-cta2:hover {
  background-color: #2E2D2C;
  color: #FF7000;
}

.btn-cta3 {
  background-color: #FF7000;
  color: #fff;
}

.btn-cta3:hover {
  background-color: #FF7000;
  color: #fff;
}

html.game-3 .btn-cta3 {
  background-color: #FF5BAF !important;
  color: #fff !important;
}

html.game-3 .btn-cta3:hover {
  background-color: #FF5BAF !important;
  color: #fff !important;
}

html.game-5 .btn-cta3 {
  background-color: #00B2E7 !important;
  color: #fff !important;
}

html.game-5 .btn-cta3:hover {
  background-color: #00B2E7 !important;
  color: #fff !important;
}

@media screen and (orientation: portrait) and (max-width: 768px) {
  html.game-1 body::before,
  html.game-2 body::before,
  html.game-3 body::before,
  html.game-4 body::before,
  html.game-5 body::before,
  html.game-6 body::before {
    content: "Please rotate your device to landscape mode to play the game.";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #FF7000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;    
    pointer-events: all;
    z-index: 9999;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    padding: 2rem;
    line-height: 1.4;
  }
  
  html.game-1 body > *:not(style):not(script),
  html.game-2 body > *:not(style):not(script),
  html.game-3 body > *:not(style):not(script),
  html.game-4 body > *:not(style):not(script),
  html.game-5 body > *:not(style):not(script),
  html.game-6 body > *:not(style):not(script) {
    display: none !important;
  }
} 

html.windows-scale-125 {
  overflow-x: hidden;
} 